<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.wisdomTree.mapper.TEquipmentMapper">

    <resultMap id="BaseResultMap" type="com.qf.wisdomTree.dto.Equipment">
            <id property="equipmentId" column="equipment_id" jdbcType="INTEGER"/>
            <result property="equipmentName" column="equipment_name" jdbcType="VARCHAR"/>
            <result property="equipmentStatus" column="equipment_status" jdbcType="INTEGER"/>
            <result property="equipmentType" column="equipment_type" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="DATE"/>
            <result property="updateTime" column="update_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        equipment_id,equipment_name,equipment_status,
        equipment_type,create_time,update_time
    </sql>

    <select id="selectGreenhouseNameById" resultType="java.lang.String">
        select greenhouse_name from t_greenhouse where greenhouse_id=#{greenhouseId}
    </select>
</mapper>
